- name: Create application user
  ansible.builtin.user:
    name: loki
    uid: 10500
    group: root
    create_home: false
    shell: /sbin/nologin

- name: Create config directory
  ansible.builtin.file:
    path: "{{ loki_etc_path }}"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Create data directory
  ansible.builtin.file:
    path: "{{ loki_data_path }}"
    state: directory
    owner: loki
    group: root
    mode: 0775

- name: Create service configuration
  ansible.builtin.template:
    src: local-config.yaml.j2
    dest: "{{ loki_etc_path }}/local-config.yaml"
    owner: root
    group: root
    mode: 0644
  no_log: true
  notify: Restart loki service

- name: Define environment variables
  ansible.builtin.template:
    src: loki.env.j2
    dest: /etc/loki.env
    owner: root
    group: root
    mode: 0644
  notify: Restart loki service

- name: Define Docker container labels
  ansible.builtin.template:
    src: loki.label.j2
    dest: /etc/loki.label
    owner: root
    group: root
    mode: 0644
  notify: Restart loki service

- name: Pull Docker image
  community.docker.docker_image:
    name: "grafana/loki:{{ loki_docker_image_version }}"
    source: pull

- name: Create systemd service
  ansible.builtin.template:
    src: loki.service.j2
    dest: /etc/systemd/system/loki.service
    owner: root
    group: root
    mode: 0644
  notify: Restart loki service

- name: Start service
  ansible.builtin.systemd:
    name: loki
    state: started
    daemon_reload: true
  register: loki_service_started

- name: Enable service
  ansible.builtin.systemd:
    name: loki
    enabled: true
    daemon_reload: true

- name: Force all notified handlers to run at this point
  ansible.builtin.meta: flush_handlers

- name: Wait for service to become available
  ansible.builtin.uri:
    url: http://localhost:3100/ready
  register: result
  until: result.status == 200
  retries: 60
  delay: 1
