[Unit]
Description=Loki
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStartPre=/usr/bin/docker pull grafana/loki:{{ loki_docker_image_version }}
ExecStart=/usr/bin/docker run \
--name %N \
--init \
--memory={{ loki_docker_memory }} \
{% if loki_env_vars | dict2items | length > 0 %}
--env-file=/etc/loki.env \
{% endif %}
{% if loki_docker_labels | dict2items | length > 0 %}
--label-file=/etc/loki.label \
{% endif %}
--mount=type=bind,source={{ loki_data_path }},destination=/loki \
{% if loki_config | dict2items | length > 0 %}
--mount=type=bind,source={{ loki_etc_path }},destination=/etc/loki \
{% endif %}
--network={{ loki_docker_network }} \
{% if loki_docker_network not in ['bridge', 'host', 'none'] %}
--network-alias=loki \
{% endif %}
{% if loki_docker_publish_ports | length > 0 %}
{% for port in loki_docker_publish_ports %}
--publish={{ port }} \
{% endfor %}
{% endif %}
--user=10500:0 \
grafana/loki:{{ loki_docker_image_version }}
ExecStop=/usr/bin/docker stop %N
SyslogIdentifier=%N
TimeoutStartSec=infinity
StartLimitInterval=30
StartLimitBurst=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
